.logo {
    /*margin: 5px 5px 5px 25px;*/
    margin-left: 25px;
    color: purple;
}

.main-content {
    margin-top: 40px;
}

.reg-btn {
    margin: 15px;
}

.page-header {
    margin-bottom: 40px;
}

.button-collapse {
    margin-left: 30px;
}

#log_btn {
    margin: 5px 20px 5px 5px;
}

.welcome {
    margin: 20px 20px 20px 20px;
    padding: 5px;
}

.welcome p {
    line-height: 1.2;
}
