 body{
	min-width:1262px;
}

.page-header{
	min-width:1262px;
}

.content-wrapper{
	margin:0 29px 66px 29px;
}

.content-wrapper > .header{
	height:65px;
	line-height:65px;
}
.content-wrapper > .header > .path{
	float:left;
	height:65px;
}
.content-wrapper > .header > .path > a,
.content-wrapper > .header > .path > span{
	display:block;
	float:left;
	color:#000;
	font-size:20px;
}
.content-wrapper > .header > .path > .arrow{
	width:6px;
	height:10px;
	margin:29px 14px 26px 16px;
	background:url(../images/profile-icons.png) -46px -57px no-repeat;
}
.content-wrapper > .header > .change-password{
	float:right;
	height:65px;
}
.content-wrapper > .header > .change-password > a{
	color:#4D4C5C;
	font-size:20px;
}

.content-wrapper > .profile > .top{
	display:table;
	width:100%;
	height:220px;
}
 .content-wrapper > .profile > .top > .photo{
	 display:table-cell;
	 width:220px;
	 height:220px;
	 background:#FAFAFA;
	 text-align:center;
	 vertical-align:middle;
	 cursor:pointer;
 }
 .content-wrapper > .profile > .top > .photo > .upload{
	 display:none;
	 font-size:18px;
	 color:#ededf3;
	 color:rgba(237,237,243,0.7);
	 height:36px;
	 line-height:36px;
	 background:#000;
	 background:rgba(0,0,0,0.68);
	 position:absolute;
	 width:220px;
	 margin-top:184px;
	 overflow:hidden;
	 white-space:nowrap;
	 text-overflow:ellipsis;
 }
 .content-wrapper > .profile > .top > .photo:hover > .upload{
	 display:block;
 }
 .content-wrapper > .profile > .top > .photo > img{
	 display:inline-block;
	 max-width:220px;
	 max-height:220px;
 }
.content-wrapper > .profile > .top > .main{
	display:table-cell;
	min-width:525px;
	padding:16px 24px 0 24px;
	vertical-align:top;
	background:#FFFFF7;
}
.content-wrapper > .profile > .top > .main > .heading{
	height:41px;
	margin-bottom:12px;
	padding:0 8px;
	border-bottom:solid 1px #F2F2EA;
}
.content-wrapper > .profile > .top > .main > .heading > .fullname{
	overflow:hidden;
	width:460px;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:30px;
	line-height:36px;
}
.content-wrapper > .profile > .top > .main > .info > .row span{
	float:left;
	width:230px;
}
.content-wrapper > .profile > .top > .contacts{
	display:table-cell;
	width:459px;
	min-width:459px;
	padding:9px 26px 0 26px;
	vertical-align:top;
	background:#F7F7F0;
}
.content-wrapper > .profile > .top > .contacts .heading > .edit{
	margin:12px 0 17px 0;
}
.content-wrapper > .profile > .top > .contacts .edit-el{
	display:none !important;
}
.content-wrapper > .profile > .top > .contacts.edit .display-el{
	display:none !important;
}
.content-wrapper > .profile > .top > .contacts.edit .edit-el{
	display:table-cell !important;
}
.content-wrapper > .profile > .top > .contacts .heading{
	height:48px;
	margin-bottom:12px;
	border-bottom:solid 1px #EAEAE4;
}
.content-wrapper > .profile > .top > .contacts .heading > .title{
	float:left;
	padding-left:5px;
	font-size:22px;
	line-height:47px;
}
.content-wrapper > .profile > .top > .contacts .heading > .save-button{
	float:right;
	margin:9px 0;
}
.content-wrapper > .profile > .top > .contacts .info{
	display:table;
	width:100%;
}
.content-wrapper > .profile > .top > .contacts .info > .row{
	display:table-row;
}
.content-wrapper > .profile > .top > .contacts .info > .row > span{
	display:table-cell;
	vertical-align:top;
}
.content-wrapper > .profile > .top > .contacts .info > .row > span.address{
	width:271px;
	padding-right:8px;
	text-align:right;
}
.content-wrapper > .profile > .top > .contacts .info > .row{
	height:35px;
}
.content-wrapper > .profile > .top > .contacts .info > .row > span{
	height:35px;
}
.content-wrapper > .profile > .top > .contacts .info > .row label{
	display:block;
	float:left;
}
.content-wrapper > .profile > .top > .contacts .info > .row label input{
	display:block;
	float:left;
	width:224px;
	height:26px;
	padding:0 8px;
	text-align:right;
	border:none;
	background:#FFF;
	font-size:18px;
}
.content-wrapper > .profile > .top > .contacts .info > .row label select{
	width:128px;
	height:26px;
	padding:0 3px;
	border:none;
	background:#FFF;
	font-size:18px;
}
.content-wrapper > .profile > .top > .contacts .info > .row label input[type="checkbox"]{
	display:none;
}
.content-wrapper > .profile > .top > .contacts .info > .row label input[type="checkbox"] + .checkbox{
	display:block;
	float:left;
	width:31px;
	height:26px;
	cursor:pointer;
	background:url(../images/profile-icons.png) 0 -26px no-repeat;
}
.content-wrapper > .profile > .top > .contacts .info > .row label input[type="checkbox"]:checked + .checkbox{
	background-position:0 -52px;
}

.content-wrapper > .profile > .top .info > .row{
	height:28px;
	font-size:18px;
}
.content-wrapper > .profile > .top .info > .row span{
	display:block;
	height:28px;
	padding:0 0 8px 8px;
}

.content-wrapper > .profile > .extra > .column{
	float:left;
	width:50%;
	min-width:602px;
	padding:0 25px;
}
.content-wrapper > .profile > .extra > .column:first-of-type{
	padding-left:0;
}
.content-wrapper > .profile > .extra > .column:last-of-type{
	padding-right:0;
}
.content-wrapper > .profile > .extra .section .edit-el{
	display:none !important;
}
.content-wrapper > .profile > .extra .section.edit .display-el{
	display:none !important;
}
.content-wrapper > .profile > .extra .section.edit .edit-el{
	display:table-cell !important;
}
.content-wrapper > .profile > .extra .section{
	margin-top:28px;
}
.content-wrapper > .profile > .extra .section > .heading{
	height:42px;
	margin-bottom:13px;
	border-bottom:solid 1px #BEBEC2;
}
.content-wrapper > .profile > .extra .section > .heading > .edit{
	margin:10px 0 12px 0;
}
.content-wrapper > .profile > .extra .section > .heading > .save-button{
	display:none;
	float:right;
	margin:6px 0 7px 0;
}
.content-wrapper > .profile > .extra .section.edit > .heading > .save-button{
	display:block;
}
.content-wrapper > .profile > .extra .section > .heading > .title{
	float:left;
	font-size:24px;
	line-height:41px;
}
.content-wrapper > .profile > .extra .section > .content .strong{
	font-family:"HelveticaNeueCyr-Roman", Arial, sans-serif;
	font-size:18px;
}

.content-wrapper .edit .heading > .edit{
	display:none;
}
.content-wrapper .heading > .edit{
	display:block;
	float:right;
	width:19px;
	height:19px;
	opacity:0.5;
	background:url(../images/profile-icons.png) -31px 0 no-repeat;
}
.content-wrapper .heading > .edit:hover{
	opacity:1;
}
.content-wrapper .heading > .edit:active{
	transform:scale(0.8);
}
.content-wrapper .heading > .edit > span{
	display:none;
}

.save-button{
	height:29px;
	padding:0 16px;
	color:#000;
	border:solid 1px rgba(0,0,0,0.1);
	background:#FFF;
	font-size:18px;
	line-height:25px;
}
.save-button:hover{
	border:solid 1px rgba(0,0,0,0.2);
}
.save-button:active{
	transform:scale(0.95);
}
.no-css{
	display:none !important;
}

.content-wrapper > .profile > .extra:after,
.content-wrapper > .profile > .extra > .column .save-button:after{
	display:block;
	clear:both;
	content:"";
}

 .popup > .background{
	 position:fixed;
	 left:0;
	 right:0;
	 top:0;
	 z-index: 2;
	 bottom:0;
	 background:#404040;
	 background:rgba(0,0,0,0.6);
 }
 .popup > .window{
	 position:absolute;
	 top:214px;
	 left:50%;
	 font-size:16px;
	 z-index: 3;
	 color:#FFF;
 }
 .popup > .window .heading{
	 height:83px;
	 background:#383742;
	 background:rgba(56,55,66,0.8);
 }
 .popup > .window .heading > h3{
	 font-size:24px;
	 height:27px;
	 padding:28px 0;
	 text-align:center;
	 font-family:"HelveticaNeueCyr-Thin", Arial, sans-serif;
 }
 .popup > .window .center{
	 background:#4d4c5c;
	 background:rgba(77,76,92,0.8);
	 padding:26px 40px;
	 line-height:22px;
 }
 .popup > .window .bottom{
	 height:83px;
	 background:#383742;
	 background:rgba(56,55,66,0.8);
	 padding:24px 0 25px 0;
 }
 .popup > .window button{
	 background:#777;
	 background:rgba(255,255,255,0.25);
	 color:#FFF;
	 border:none;
	 display:block;
	 margin:0 auto;
 }
 .popup > .window button:focus{
	 background:#888;
	 background:rgba(255,255,255,0.38);
 }
 .popup > .window button:active{
	 transform:scale(0.95);
 }

 .popup > .window.password,
 .popup > .window.photo-upload{
	 width:480px;
	 margin-left:-240px;
 }

 .popup > .window.password .center label{
	 display:block;
	 width:400px;
	 margin:0 auto 25px auto;
	 height:23px;
 }
 .popup > .window.password .center label:last-of-type{
	 margin-bottom:0;
 }
 .popup > .window.password .center label > span{
	 display:block;
	 float:left;
	 width:170px;
	 font-size:18px;
	 padding:1px 0 2px 0;
	 font-family:"HelveticaNeueCyr-Thin", Arial, sans-serif;
 }
 .popup > .window.password .center label > input{
	 display:block;
	 float:left;
	 width:230px;
	 height:23px;
	 border:none;
	 font-size:18px;
	 padding:0 4px;
 }
 .popup > .window.password .bottom button{
	 width:240px;
	 height:34px;
	 font-size:18px;
 }

 .popup > .window.photo-upload .center input{
	 display:none;
 }
 .popup > .window.photo-upload .center button{
	 width:186px;
	 height:27px;
	 font-size:16px;
	 margin:23px auto 20px auto;
 }

 .popup > .window.photo-thumbnail{
	 width:698px;
	 margin-left:-349px;
 }
 .popup > .window.photo-thumbnail .center .thumb-selection{
	 width:240px;
	 height:240px;
	 background:#000;
	 margin:20px auto 0 auto;
 }
 .popup > .window.photo-thumbnail .bottom button{
	 height:34px;
	 font-size:18px;
 }
 .popup > .window.photo-thumbnail .bottom .wrapper{
	 display:table;
	 margin:0 auto;
 }
 .popup > .window.photo-thumbnail .bottom .wrapper > div{
	 display:table-cell;
 }
 .popup > .window.photo-thumbnail .bottom .wrapper > div.left-button > button{
	 width:267px;
 }
 .popup > .window.photo-thumbnail .bottom .wrapper > div.right-button > button{
	 width:auto;
	 padding:0 5px;
	 margin-left:20px;
	 background:transparent;
 }
 .popup > .window.photo-thumbnail .bottom .wrapper > div.right-button > button:focus{
	 background:#333;
	 background:rgba(0,0,0,0.2);
 }
